<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Matrix Calculator</title>
</head>
<body>
<h1>矩阵计算器:</h1>
<form action="#" th:action="@{/calculate}" th:object="${calculator}" method="post">
    <input type="number" th:field="*{numOne}"/>
    <select th:field="*{operator}">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" th:field="*{numTwo}"/>
    <button type="submit">计算</button>
</form>
</body>
</html>